@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "IBM Plex Mono", monospace;
    color: #ffb73d;
}

body {
    background-image: linear-gradient(to right, rgba(19,15,31,1) 0%, rgba(19,15,31,1) 20%, rgba(34,27,56,1) 60%, rgba(19,15,31,1) 100%);
}

img {
    width: 100%;
}

.content {
    display: flex;
    justify-content: space-between;
}

.nav {
    padding: 5vw 10vw 0;
}

.nav__list,
.nav__item {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: all 300ms;
}

.nav__list--bottom,
.nav__list--side {
    position: absolute;
    display: block;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
}

.nav__list--bottom {
    top: calc(100% + 0.1vw);
    left: -0.1vw;
}

.nav__list--side {
    top: -0.1vw;
    left: calc(100% + 1vw);
}

.nav__item {
    font-size: 1vw;
    width: 12vw;
    height: 4vw;
    border: 0.1vw solid #ffb73d;
    padding-left: 1vw;
    position: relative;
    margin-right: 1vw;
    color: #ffb73d;
    cursor: pointer;
}

.nav__item:hover {
    background-color: #ffb73d;
    color: #1a152b;
}

.nav__item::after {
    content: "";
    width: 1.1vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
}

.nav__item--sub {
    margin-top: 1vw;
    position: relative;
}

.nav__item--sub::before {
    content: "";
    position: absolute;
    height: 1vw;
    width: 0.1vw;
    background-color: #ffb73d;
    top: -1.1vw;
    left: 1vw;
}

.nav__item--first::before {
    content: "";
    position: absolute;
    height: 0.1vw;
    width: 1vw;
    background-color: #ffb73d;
    top: 1vw;
    left: -1.1vw;
}

.visible {
    max-height: 100vh;
    opacity: 1;
    overflow: visible;
}

.glass {
    padding-top: 5vw;
    position: relative;
    width: 50%;
    font-size: 0;
}

.glass__img {
    position: relative;
    height: 100%;
    bottom: 0;
    right: 0;
}

.glass__interior {
    position: absolute;
    top: 38%;
    left: 17%;
    width: 18%;
    height: 18%;
}

.glass__reaction {
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.glass__burner {
    position: absolute;
    bottom: 33.7%;
    left: 22.5%;
    width: 7%;
    height: 7%;
}

.glass__flame {
    width: 95%;
    height: 100%;
    position: relative;
    left: 0;
    bottom: -5%;
}
